<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/custom.css') }}" />
        {% block stylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div class="row">
        {% block body %}{% endblock %}
      </div>
        <script src="{{ asset('bundles/app/js/jquery.js')}}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
